body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

header, footer {
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    background-color: white;
}

footer p {
    margin: 0;
    text-align: center;
    line-height: 60px;
}

header .logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

header img {
    vertical-align: middle;
}

