.filters {
    display: flex;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.locations {
    border-right: none;
}

.locations h3, .amenities h3 {
    font-weight: 600;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 0.9;
}
